<div class="pagination-container">
  <div class="pagination">

    <output class="pagination-count">
      {{#if links.length '>' 1}}
        <span class="pages-lbl">Pages: </span>
        {{#each links}}
          {{#if number '===' ../current}}
            <span class="pagination-number pagination-current"><a href="{{url}}">{{number}}</a></span>
          {{else}}
            <span class="pagination-number"><a href="{{url}}">{{number}}</a></span>
          {{/if}}
        {{/each}}
      {{else}}
        <span class="pagination-number pagination-current">1</span>
      {{/if}}
    </output>

    {{#if previous}}
      {{#if is_review}}
      <a class="pagination-item previous" href="{{previous}}#product-reviews" rel="nofollow" data-faceted-search-facet>
      {{else}}
      <a class="pagination-item previous" href="{{previous}}" rel="nofollow" data-faceted-search-facet>
      {{/if}}
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        {{lang 'common.pagination.previous'}}
      </a>
    {{/if}}
    {{#if next}}
      {{#if is_review}}
      <a class="pagination-item next" href="{{next}}#product-reviews" rel="nofollow" data-faceted-search-facet>
      {{else}}
      <a class="pagination-item next" href="{{next}}" rel="nofollow" data-faceted-search-facet>
      {{/if}}
        {{lang 'common.pagination.next'}}
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    {{/if}}
  </div>
</div>
