<script>
  Theme = {};

  Theme.version = '1.1.12';
  Theme.shopName = '{{settings.store_name}}';

  Theme.carousel = {
    delay: '{{carousel.swap_frequency}}'
  };

  Theme.localization = {
    cart: {
      outOfStock: '{{lang "cart.out_of_stock"}}',
      errorMessageGeneral: '{{lang "cart.error"}}',
      itemsInCart: '{{lang "header.view_cart"}}'
    },
    product: {
      addSuccess: '{{lang "product.success"}}',
      outOfStock: '{{lang "product.error_message_stock"}}',
      zeroQuantity: '{{lang "product.error_zero_quantity"}}',
      errorMessageGeneral: '{{lang "product.error_message_general"}}',
      cartLink: '{{lang "product.cart_link"}}',
      homeLink: '{{lang "product.home_link"}}',
      checkoutLink: '{{lang "product.checkout_link"}}',
      addToCart: '{{lang "product.add_to_cart"}}',
      preOrder: '{{lang "product.pre_order"}}',
      soldOut: '{{lang "product.sold_out"}}'
    },
    urls: {
      cart: '{{urls.cart}}',
      checkout: '{{urls.checkout.single_address}}'
    }
  }

  Theme.messages = {
    cart: {
      "remove_item": "{{lang 'cart.checkout.remove_confirm'}}"
    },
    contact_us_errors: {
      "email": "{{lang 'forms.contact_us.errors.email'}}",
      "message": "{{lang 'forms.contact_us.errors.message'}}"
    }
  }
</script>
