<section class="section testimonials">
  <div class="container">
    <h3 class="section-title"><span class="title-in title-in-grey">{{lang 'home.testimonials'}}</span></h3>
    <div class="carousel carousel-items slide-transition">
      <div class="carousel-slides" data-carousel-items>
        <div class="c-item">      
            <img src="/product_images/uploaded_images/customer-rick.jpg" alt="">  
            <h5 class="h4">Rick</h5>
            <p>I'm very pleased to give them a 5 star rating. MKM is very professional and will have my business for a long time.</p>
            <p class="read-more"><a href="/testimonials/">Read More <i class="fa fa-angle-right"></i></a></p>
        </div>
        <div class="c-item">      
            <img src="/product_images/uploaded_images/customer-stacey.jpg" alt="">  
            <h5 class="h4">Stacey</h5>
            <p>MKM Pool Spa is well known for the best prices, fast delivery, and exceptional customer service!</p>
            <p class="read-more"><a href="/testimonials/">Read More <i class="fa fa-angle-right"></i></a></p>
        </div>
        <div class="c-item">        
            <img src="/product_images/uploaded_images/customer-paul.jpg" alt="">
            <h5 class="h4">Paul</h5>
            <p>This website is a great place to do business! I have ordered from them many times and plan to continue.</p>
            <p class="read-more"><a href="/testimonials/">Read More <i class="fa fa-angle-right"></i></a></p>
        </div>
        <div class="c-item">        
            <img src="/product_images/uploaded_images/customer2.jpg" alt="">
            <h5 class="h4">Candace</h5>
            <p>Outstanding seller! Items as described, carefully packaged and shipped, and lightning fast! Buy with Confidence!</p>
            <p class="read-more"><a href="/testimonials/">Read More <i class="fa fa-angle-right"></i></a></p>
        </div>
        <div class="c-item">   
            <img src="/product_images/uploaded_images/customer-jack.jpg" alt="">     
            <h5 class="h4">Jack</h5>
            <p>MKM consistently has the fastest handling/delivery time of any of the online shops we frequent!</p>
            <p class="read-more"><a href="/testimonials/">Read More <i class="fa fa-angle-right"></i></a></p>
        </div>
        <div class="c-item">
            <img src="/product_images/uploaded_images/customer-nathan.jpg" alt="">
            <h5 class="h4">Nathan</h5>
            <p>I'm a repeat customer. I've had only positive experience with MKM. They have quality products and reliability.</p>
            <p class="read-more"><a href="/testimonials/">Read More <i class="fa fa-angle-right"></i></a></p>
        </div>
      </div>
      <div class="carousel-navigation">
        <div data-carousel-nav-items>
          <span class="carousel-navigation-item carousel-previous" data-carousel-items-pagination="prev">
            <span class="svg-icon"><svg class="svg-nav-icon"><use xlink:href="#icon-arrow-left"></use></svg></span>
          </span>
        </div>
        <div data-carousel-nav-items>
          <span class="icon carousel-navigation-item carousel-next" data-carousel-items-pagination="next">
            <span class="svg-icon"><svg class="svg-nav-icon"><use xlink:href="#icon-arrow-right"></use></svg></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
