---
carousel: true
products:
  featured:
    limit: {{theme_settings.homepage_products_featured}}
  top_sellers:
    limit: {{theme_settings.homepage_products_popular}}
  new:
    limit: {{theme_settings.homepage_products_new}}
blog:
  recent_posts:
    limit: 3
---

{{#partial "page"}}

  {{#if carousel.slides.length}}
    {{#if carousel}}
    <div class="home-carousel">
      {{> modules/carousel}}
      <!-- Absolute Section -->

      <section class="page-banner page-banner-top home-banner" id="abs-content">
          <div class="page-banner-inner">
            <div class="banner rte">
                <h2 class="banner-h2">Welcome to MKM Pool Spa!</h2>
                <p class="banner-p">We have the best selection of premium pool and spa maintenance supplies, chemicals,<br/> testing equipment, cleaners, and more.</p>
            </div>
          </div>
      </section>

      <!-- End of Absolute Section -->
    </div>
    {{/if}}
  {{/if}}

  {{#if page_type '===' 'default'}}
  {{#if banners.top}}
    <section class="page-banner page-banner-top home-banner" id="abs-content" style="display:none;">
      {{#each banners.top}}
        <div class="page-banner-inner">
          <div class="banner rte">
            {{{this}}}
          </div>
        </div>
      {{/each}}
    </section>
  {{/if}}
{{/if}}



  {{{snippet 'home_content'}}}
  
  {{#if theme_settings.homepage_products_featured}}
  <div class="home-featured-products" > 
    {{> components/products/featured
      products=products.featured
      quickshop=theme_settings.show_quick_shop
      rowcount=theme_settings.featured_products_per_row
      crop=theme_settings.grid_aspect_ratio}}
  </div>
  {{/if}}

   
  <div class="home-featured-products" style="display:none;"> 
    {{> components/products/popular
      products=products.top_sellers
      quickshop=theme_settings.show_quick_shop
      rowcount=theme_settings.popular_products_per_row
      crop=theme_settings.grid_aspect_ratio}}
  </div>

<!-- BEST SELLER -->
<div class="home-featured-products">
  <section class="layout-block popular-products {{#if quickshop}}quickshop-enabled{{/if}}" data-quickshop>
    <h2 class="section-title"><span class="title-in">Our Bestsellers</span></h2>
    
    <div class="best-seller-container">
        <div class="first-grid">
            <div>
              <img src="{{cdn '../img/kai-resort-pillow.png'}}" alt="kai-resort-pillow" width="100%" height="auto" id="kai-resort-img">
              <div class="item-logo"></div>
              <h4><a href="">Kai Resort Pillow - Aquamarine</a></h4>
            </div>
        </div>
        <div class="second-grid">
          <div>
            <img src="{{cdn '../img/metalshield-metal-stain.png'}}" alt="Metal Shield Stain Remover" width="100%" height="auto">
           
            <div class="abs-con">
              <img src="{{cdn '../icons/halfmask.svg'}}" alt="halfmask" width="100%" height="auto" id="halfmask-img">
              <div class="d-flex">
                <div class="item-logo"></div>
                <h4><a href="">MetalShield Metal Stain Remover</a></h4>
              </div>
            </div>


          </div>
          <div>
            <img src="{{cdn '../img/omni-pool-chlorine.png'}}" alt="Omni Pool Chlorine Stabilizer" width="100%" height="auto">
            
            <div class="abs-con">
              <img src="{{cdn '../icons/halfmask.svg'}}" alt="halfmask" width="100%" height="auto" id="halfmask-img">
              <div class="d-flex">
                <div class="item-logo"></div>
                <h4><a href="">Omni Pool Chlorine Stabilizer</a></h4>
              </div>  
            </div>


          </div>

          <div>
            <img src="{{cdn '../img/kai-resort-pillow.png'}}" alt="Omni Pool Chlorine Stabilizer" width="100%" height="auto">
            
            <div class="abs-con">
              <img src="{{cdn '../icons/kai-resort-mask.svg'}}" alt="halfmask" width="100%" height="auto" id="halfmask-img">
              <div class="d-flex">
                <div class="item-logo"></div>
                <h4><a href="">Omni Pool Chlorine Stabilizer</a></h4>
              </div>  
            </div>


          </div>
        </div>
    </div>
  
  </section>
</div>
<!-- END OF BEST SELLER-->
<!-- CATEGORIES  -->
  <div class="home-featured-products">
    <section class="layout-block popular-products {{#if quickshop}}quickshop-enabled{{/if}}" data-quickshop>
      <h2 class="section-title"><span class="title-in">Categories</span></h2>
      <ul class="categoryGrid" data-product-type="categories">
      {{#each categories}}
        <li class="productCat {{id}}">
              <img src="{{cdn (concat '../img/' (concat  (lowercase (dashcase name)) '.png'))}}" alt="{{name}} Image">
              <h4>{{name}}</h4>
              <div class="dflex-actn">

                {{#if name '==' 'Pool Chemicals'}}
                  <p>Using the proper pool chemicals is a vital part of the maintenance routine for any swimming pool or spa.</p>
                {{else if name '==' 'Spa Chemicals'}}
                  <p>Being a pool and spa owner means long, relaxing soaks and hosting the occasional poolside summer barbecue.</p>
                {{else}}
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reprehenderit saepe dolores eum odit eveniet.</p>

                {{/if}}
                <a href="{{url}}">{{name}}</a>
              </div>
        </li>
      {{/each}}
    </ul>
    </section>
  </div>
<!-- END OF CATEGORIES SECTION -->
  <div style="display:none">
    {{> components/home/featured-categories}}
  </div>

  <div style ="display:none">
      {{#if theme_settings.homepage_products_new}}
        <div class="home-featured-products"> 
          {{> components/products/new
            products=products.new
            quickshop=theme_settings.show_quick_shop
            rowcount=theme_settings.new_products_per_row
            crop=theme_settings.grid_aspect_ratio}}
        </div>
      {{/if}}
    </div>
<div style="display:none">
  {{#if page_type '===' 'default'}}
    {{#if banners.bottom}}
      <section class="page-banner page-banner-bottom home-banner">
        {{#each banners.bottom}}
          <div class="page-banner-inner">
            <div class="banner rte">
              {{{this}}}
            </div>
          </div>
        {{/each}}
      </section>
    {{/if}}
  {{/if}}
</div>

  <div style="display:none">
  {{#if theme_settings.homepage_products_popular}}
  <div class="home-featured-products"> 
    {{> components/products/popular
      products=products.top_sellers
      quickshop=theme_settings.show_quick_shop
      rowcount=theme_settings.popular_products_per_row
      crop=theme_settings.grid_aspect_ratio}}
  </div>
  {{/if}}
</div>
  <div style="display:none">
  {{#if theme_settings.homepage_show_blog }}
    <section class="blog-latest-posts section">
      <div class="container">
        <h3 class="section-title">{{lang 'home.latest_blog'}}</h3>
        <div class="blog-items">
          {{#each blog.recent_posts}}
            {{> components/blog/blog-post-summary }}
          {{/each}}
        </div>
      </div>
    </section>
  {{/if}}
</div>

  <div style="display:none">
    {{#if theme_settings.homepage_show_testimonials}}
    {{> components/snippets/testimonials}}
  {{/if}}
  </div>

  <div class="banner-cta">
  <div class="container">
    <h3>Join our mailing list </h3>
    <span class="cta-title">Mailing list members receive discount coupons and special offers.</span> <a class="button button-alt" href="http://visitor.r20.constantcontact.com/d.jsp?llr=q4czyycab&amp;p=oi&amp;m=1102490405872&amp;sit=5o6utm4db&amp;f=b02aa8f0-6f5c-42d6-af8d-eb20362b52f7" target="_blank">Join Now!</a></div>
</div></div>

  {{#if theme_settings.homepage_show_widgets}}
    {{> components/snippets/social-feeds}}
  {{/if}}

  {{#if theme_settings.homepage_show_newsletter}}
    {{> components/snippets/newsletter-signup}}
  {{/if}}
  
  <!-- Homepage Popup Markup -->
 <div class="home-popup-wrapper" style="display:none;">
        <div class="splash-image"><img src="//cdn7.bigcommerce.com/s-cq282mw/product_images/uploaded_images/water-splash.png" alt="Water Splash" /></div>
        <div class="popup-contents">
            <h2>MKM Pool Spa Friends <br /> Save Money!</h2>
            <p>Sign up now to save 15% off your first order. We'll also send you great deals on pool supplies for a great summer.</p>
            <form class="footer-newsletter-form form" action="/subscribe.php" method="post">
                <input type="hidden" name="action" value="subscribe">
                <input type="hidden" name="nl_first_name" value="bc">
                <input type="hidden" name="check" value="1">
                <label class="form-label show-for-sr" for="nl_email">Email Address</label>
                <input class="newsletter-signup-email form-input" id="nl_email" name="nl_email" type="email" value="" placeholder="Email Address Here">
                <div class="newsletter-signup-submit">
                  <input class="submit button" type="submit" value="Save 15%">
                </div>
              </form>
            <p class="privacy-terms">No Thanks, I don’t need this</p>
        </div>
    </div>

<script src="/content/js/first-visit-popup.js"></script>

<script type="text/javascript">
jQuery(document).ready(function($){
    
// Homepage Popup Javascript 
    $(function () {
       $('.home-popup-wrapper').firstVisitPopup({
          cookieName : 'homepage',
          showAgainSelector: '#show-message'
       });
    });
    
    $('.home-popup-wrapper .privacy-terms').click(function(){
        $("#fvpp-close").trigger('click');
    })
})    
</script>

<style>

  .product-price {
    margin-bottom: 1rem;
    text-align: left;
}
  span> span[data-product-price] {
    color: #004974;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}
.product-price .price-without-tax span[data-product-price-wrapper="without-tax"] {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
</style>
{{/partial}}

{{> layout/base}}


