
  <section class="section featured-categories">
    <div class="container">
      <div class="left-section">
        <div class="left-sidebar">
          <h3 class="section-title faceted-search-title show-filter">{{lang 'category.sidebar.shop_products'}}</h3>      
          {{> components/home/navigation-featured}} 
        </div>
      </div>
      <div class="right-section">
        <h3 class="section-title st-left"><span class="title-in">{{lang 'home.featured_categories'}}</span></h3>
        <ul class="list-categories">
          <li class="category-item">
            <div class="category-item-in">
              <p class="category-img"><a href="/pool-chemicals/"><img src="/product_images/uploaded_images/pool-chemicals-c.jpg" alt="Pool Chemicals"><span class="button btn-shop">Shop Now</span></a></p>
              <h4 class="category-name"><a href="/pool-chemicals/">Pool Chemicals</a></h4>
              <p class="short-desc">Using the proper pool chemicals is a vital part of the maintenance routine for any swimming pool or spa.</p>
            </div>
          </li>
          <li class="category-item">
            <div class="category-item-in">
              <p class="category-img"><a href="/spa-chemicals/"><img src="/product_images/uploaded_images/spa-chemicals-c.jpg" alt="Spa Chemicals"><span class="button btn-shop">Shop Now</span></a></p>
              <h4 class="category-name"><a href="/spa-chemicals/">Spa Chemicals</a></h4>
              <p class="short-desc">Being a pool and spa owner means long, relaxing soaks and hosting the occasional poolside summer barbecue.</p>
            </div>
          </li>
          <li class="category-item">
            <div class="category-item-in">
              <p class="category-img"><a href="/accessories/"><img src="/product_images/uploaded_images/accessories-c.jpg" alt="Accessories"><span class="button btn-shop">Shop Now</span></a></p>
              <h4 class="category-name"><a href="/accessories/">Accessories</a></h4>
              <p class="short-desc"></p>
            </div>
          </li>
          <li class="category-item">
            <div class="category-item-in">
              <p class="category-img"><a href="/equipment/"><img src="/product_images/uploaded_images/equipment-c.jpg" alt="Equipment"><span class="button btn-shop">Shop Now</span></a></p>
              <h4 class="category-name"><a href="/equipment/">Equipment</a></h4>
              <p class="short-desc">Making sure you are using the proper mix of cleaning chemicals is an important first step for healthy swimming pool and spa maintenance.</p>
            </div>
          </li>
          <li class="category-item">
            <div class="category-item-in">
              <p class="category-img"><a href="/pool-chemicals/"><img src="/product_images/uploaded_images/pool-cleaners-c.jpg" alt="Pool Cleaners"><span class="button btn-shop">Shop Now</span></a></p>
              <h4 class="category-name"><a href="/pool-chemicals/">Pool Cleaners</a></h4>
              <p class="short-desc">The most important part of any maintenance routine for a swimming pool or spa is regular and consistent care with the right chemicals and supplies.</p>
            </div>
          </li>
          <li class="category-item">
            <div class="category-item-in">
              <p class="category-img"><a href="/specials/"><img src="/product_images/uploaded_images/specials-c.jpg" alt="Specials"><span class="button btn-shop">Shop Now</span></a></p>
              <h4 class="category-name"><a href="/specials/">Specials</a></h4>
              <p class="short-desc">Keeping up with pool and spa maintenance is very important even though it can sometimes be difficult and expensive.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
