<div class="footer-navigation">
  <div class="footer-item-wrap nav-popular-brands">
    <!-- {{lang 'footer.headings.popular_brands'}} -->
    <h3 class="footer-section-title collapse-item-title">Contact Info</h3>
    <div class="collapse-item-content">   
      <ul class="footer-contact-info">
        <li class="c-email">
          <span class="svg-icon svg-icon-contact" style="display: none;"><i class="fa fa-phone"></i></span>
          <strong class="display-block" style="display: none;">{{lang 'global.phone_number.label'}}:</strong>
          <a href="tel:{{lang 'global.phone_number.tel'}}">{{lang 'global.phone_number.val'}}</a>
        </li>
        <li>
          <span class="svg-icon svg-icon-contact" style="display: none;"><i class="fa fa-envelope"></i></span>
          <p><strong class="display-block" style="display: none;">{{lang 'footer.about.gcontact_label'}}</strong>
          <a href="mailto:{{lang 'global.gen_email'}}">{{lang 'global.gen_email'}}</a></p>
          <p><strong class="display-block" style="display: none;">{{lang 'footer.about.techcontact_label'}}</strong>
          <a href="mailto:{{lang 'global.tech_email'}}">{{lang 'global.tech_email'}}</a></p>
        </li>

      </ul>
    </div>
  </div>

</div>



