<div class="footer-navigation">
  <div class="footer-item-wrap nav-popular-brands">
    <h3 class="footer-section-title collapse-item-title">{{lang 'footer.headings.popular_brands'}}</h3>
    <div class="collapse-item-content">   
      <ul>
        <li><a href="/brands/pleatco.html">Pleatco</a></li>    
        <li><a href="/brands/clearview.html">Clearview</a></li>    
        <li><a href="/brands/baracuda.html">Baracuda</a></li>    
        <li><a href="/brands/glb.html">GLB</a></li>    
        <li><a href="/brands/leisure-time.html">Leisure Time</a></li>
        <li><a href="/brands/clor-mor.html">Clor Mor</a></li>
      </ul>
      <ul>    
        <li><a href="/brands/natural-chemistry.html">Natural Chemistry</a></li>    
        <li><a href="/brands/polaris.html">Polaris</a></li>    
        <li><a href="/brands/omni.html">Omni</a></li>    
        <li><a href="/brands/aladdin.html">Aladdin</a></li>
        <li><strong><a href="/brands/">See all brands</a></strong></li>
      </ul>
    </div>
  </div>
  <div class="footer-item-wrap">
    <h3 class="footer-section-title collapse-item-title">{{lang 'footer.headings.qlinks'}}</h3>
    <div class="collapse-item-content"> 
      <ul class="footer-navigation-list">
        <li><a href="/about-us/">About Us</a></li>
        <li><a href="/contact-us/">Contact</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/customer-service/">Customer Service</a></li>
        <li><a href="/frequently-asked-questions/">Frequently Asked Questions</a></li>
        <li><a href="/privacy/">Privacy</a></li>
        {{#if theme_settings.sitemap}}
          <li>
            <a href="{{urls.sitemap}}">{{lang 'sitemap.heading'}}</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
