/* Custom CSS */
#product-videos{
    .product-video-container{
        @media (min-width: 768px){
            float: left;
            width: 50%;
            padding: 0 10px 15px;
        }
    }
}

[id*="ratingbadge"] {
    left: 0!important;
    right: auto!important;
  @include breakpoint(l-up) {
    bottom: 105px!important;
  }
}
.footer-btm{
  @media (max-width: 480px){
        padding-bottom: 70px;
    }
}

.text-red{
    color: #f00;
}

.single-post{
    .blog-post-content p{
        float: none;
    }
    .blog-post-sharing{
        .sharing-button{
            padding-left: 10px;
            font-size: 24px;
            line-height: 26px;
        }
    }
}
.hello-bar{
    color: #212121;
    background: #ffd600;

    .container{
        font-size: 16px;
        font-weight: normal;
    }
}
.blog-img img{
    width:auto !important;
    margin:0 !important;
}

/*-------------------------------
      Pop Up Styles
-------------------------------*/

#fvpp-blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 999;
}

.home-popup-wrapper {
    width: 100%;
    max-width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.home-popup-wrapper .splash-image img{
    position: relative;
    left: -5px;
    max-width: initial;
}

.home-popup-wrapper .popup-contents {
    text-align: center;
    padding: 15px 15px;
    background: #e2f1fc;
    position: relative;
    top: -7px;
}

.home-popup-wrapper .popup-contents h2 {
    font-size: 34px;
    color: #0b85c8;
    text-transform: uppercase;
}

.home-popup-wrapper .popup-contents p {
    font-size: 16px;
    color: #212121;
}

.home-popup-wrapper .footer-newsletter-form {
    margin: 0 auto 20px;
    max-width: 420px;
}

.home-popup-wrapper .footer-newsletter-form .newsletter-signup-email {
    border: 1px solid #1184c6;
    padding-right: 155px;
}

.home-popup-wrapper .popup-contents .privacy-terms {
    font-size: 14px;
    color: #1184c6;
    cursor: pointer;
}

.footer-newsletter-form .newsletter-signup-submit {
    width: 150px;
}

.home-popup-wrapper .footer-newsletter-form .newsletter-signup-submit input {
    background: #1184c6;
    text-transform: uppercase;
}

#fvpp-close {
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 17px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .home-popup-wrapper .splash-image {
        display: none;
    }
    
    #fvpp-close {
      color: #1184c6;
      top: 0;
      right: 11px;
      
    }
    
    .home-popup-wrapper .footer-newsletter-form .newsletter-signup-email {
      padding-right: 102px;
    }

    .footer-newsletter-form .newsletter-signup-submit {
      width: 100px;
    }
}

.sticky-hello-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
/*-------------------------------
    Header Style
-------------------------------*/

.header-topbar .header-topbar-inner{
    @media screen and (min-width: 1040px) {
        display: none;
    }
}

.navigation{
    @media screen and (min-width: 1040px) {
        margin: 0 auto;
        padding: 0;
        max-width: 1920px;
        display: flex;
        align-items: center;
    }
}

.header-nav{
    @media screen and (min-width: 1040px) {
        width: 90%;
        float: unset;
        display: flex;
        justify-content: space-between;
    }


}

.header-nav .tag-line{
    @media screen and (min-width: 1040px) {
        font-size: 20px;
        width: 49%;
    }
}

.search-form-header{
    @media screen and (min-width: 1040px) {
        width: 49%;
        padding: 5px 0 0;
        margin-left: 0;
    }
}
.header-tools{
    @media screen and (min-width: 1040px) {
        width: 16%;
    }
}
.header-tools-inner{
    @media screen and (min-width: 1040px) {
        display: flex;
        justify-content: flex-end;
    }
}
.navigation a{
    @media screen and (min-width: 1040px) {
        text-align: center;
        // padding-top: 0;
    }
}
.fa-user-circle:before, .fa-shopping-cart:before {
    color: #0B85C8;
    font-size: 25px;
}

.search-form-header .search-input{
    height: 45px;
    border-radius: 15px;
}
.search-form-header .search-submit{
    border-radius: 0 15px 15px 0;
}

#mobile-hide{
    @media screen and (min-width: 1040px) {
        display: none;        
    }
}
.center{
    text-align: center;
}

.footer-left{
    @media screen and (min-width: 1040px) {
        width: 20%;
    }
}
.footer-mdl{
    @media screen and (min-width: 1040px) {
        width: 23%;
    }
}
.footer-right{
    @media screen and (min-width: 1040px) {
        width: 23%;
    }
}

.footer-left .ft-logo{
    @media screen and (min-width: 770px) {
        max-width: 115px;
        margin: 0 auto;
        padding: 0
    }
}

.footer-navigation .footer-item-wrap .footer-section-title{
    @media screen and (min-width: 770px) {
        font-size: 25px;
    }
}

.w88-mlauto{
    margin-left: auto;
    width: 85%;
}

.main-footer .container{
    max-width: 1920px;
    width: 85%;
    padding: 0;
}

.main-footer .ft-in{
    @media screen and (min-width: 770px) {
        padding: 0;
    }
}

.home-featured-products{
    .section-title{
        text-align: left;
        color: #0B85C8 !important;
        font-weight: 700;
        font-size: 28px;
    }
    .title-in:before, .title-in:after{
        border-top: 3px solid #0B85C8;
        margin-left: 20px;
    }
}
.home-featured-products .container{
    width: 85%;
    padding: 0;
    .product-grid-container{
        padding: 0;
    }
}

.pre-footer-section .container {
    margin-bottom: 4rem;
    max-width: 1920px;
    width: 85%;
    padding: 0;
    margin: 0 auto;
}
.pre-footer-section .section-title h2 {
    text-align: left;
    color: #0B85C8 !important;
    font-weight: 700;
    font-size: 28px;
    position: relative;
}

.pre-footer-section .section-title h2::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: 0px;
    float: left;
    width: 1000px;
    border-top: 3px solid #0B85C8;
    margin-left: 20px;
}

.logo-text-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto 2rem;
}

.logo-section {
    width: auto;
    text-align: center;
}
.image-section {
    width: 75%;
}
.image-section p {
    margin: 0 0 2rem 0;
}
a.action-btn {
    background: linear-gradient(to bottom, #0b85c8 0%, #0b85c8 50%, #096aa0 52%, #096aa0 71%, #096aa0 84%, #096aa0 100%);
    padding: 0.5rem 1.5rem;
    display: inline-block;
    color: #fff;
    border-radius: 15px;
}

.slick-prev:before, .slick-next:before{
    color: #0B85C8 !important;
    font-size: 28px !important;
    font-weight: bold !important;
}

.product-grid-item-price .action-btn{
    background: linear-gradient(to bottom, #0b85c8 0%, #0b85c8 50%, #096aa0 52%, #096aa0 71%, #096aa0 84%, #096aa0 100%);
    display: block;
    padding: 0.7rem 1.5rem;
    color: #fff;
    border-radius: 8px;
    width: 100%;
    font-weight: 400;
}
.banner-cta .container h3 {
    color: #0B85C8;
    margin-bottom: 0;
    font-size: 25px;
}
.banner-cta .container {
    width: 85%;
    max-width: 1920px;
    padding: 0;
}

.home-featured-products .popular-products {
    width: 85%;
    margin: 0 auto;
}

ul.footer-contact-info li {
    line-height: 0.8;
}

.product-grid-item-price .action-btn:hover {
    filter: brightness(85%);
}


.home-carousel, .main-content, .carousel-wrap.slide-fixed{
    position: relative;
}

section#abs-content {
    position: absolute;
    bottom: -15%;
    z-index: 99;
    background: #fff;
    width: 100%;
    border-radius: 100% 100% 0 0;
    padding: 3rem 0 3rem 1rem;
    margin-bottom: 0rem;
}

.slide-fixed .carousel {
    max-width: 1920px;
    padding: 0;
}
.banner-h2{
    color: #0B85C8;
    text-align: center;
}
.banner-p{
    text-align: center;
}

.product-grid-item-price .price-rrp {
    color: #404040;
    opacity: 0.4;
}

.slick-track
{
    display: flex !important;
}

.slick-slide {
    height: auto!important;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.product-grid-item-sale-badge{
    top: 0;
    right: 0;
}

.search-form-header .search-submit{
    width: 120px;
}

.best-seller-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.best-seller-container .first-grid, .best-seller-container .second-grid {
    width: 49%;
}

#kai-resort-img{
    border-radius: 0 0 0 50%;
    max-height: 500px;
}

.best-seller-container .second-grid div, .best-seller-container .second-grid div img{
    position: relative;
}

.abs-con {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    padding: 0rem;
}

img#halfmask-img {
    position: absolute;
}

.d-flex h4 {
    padding: 3.5rem 0 0 1rem;
    text-align: center;
    margin: 0;
}

.second-grid {
    display: flex;
    flex-direction: column;
}
ul.categoryGrid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2.5rem;
}
ul.categoryGrid li {
    width: 49%;
}

.order1{
    order: 1;
}
.order2{
    order: 2;
}
.order3{
    order: 3;
}
.order4{
    order: 4;
}
.order5{
    order: 5;
}
.order6{
    order: 6;
}