{{#partial "page"}}

  <header class="sub-header">
    {{> components/common/breadcrumbs breadcrumbs}}
  </header>

  <section class="layout-block">

    <div class="page-header">
      <h1 class="page-title">
        {{lang 'core.account.download.heading' number=downloads.order_id name=downloads.product_name}}
      </h1>
    </div>

    <div class="page-container account-container">
      <div class="page-content page-form account-form">
        {{> core/account/download-item}}
      </div>
    </div>

  </section>

{{/partial}}

{{> layout/base}}
