{{#if children}}
	<span class="svg-icon collapse-item-title"><svg class="svg-nav-icon"><use xlink:href="#icon-collapse"></use></svg></span><span class="nav-icon-plus collapse-item-title"></span> 
{{/if}}
<a href="{{url}}">{{name}}</a>
{{#if children}}
  <ul class="sub-category-nav collapse-item-content">
    {{#each children}}
      <li class="nav-submenu-item {{#if children}}has-dropdown{{/if}}">
         {{> components/category/category-navigation-item}} 
      </li>
    {{/each}}
  </ul>
{{/if}}
