<div class="form-field form-field-customizations form-field-file{{#if required}} form-required{{/if}}">
  <label class="form-label">
    <span class="form-field-title">
      {{display_name}}
      {{#if required}}<span class="required-text">{{lang 'common.required'}}</span>{{/if}}
    </span>
    <span class="form-field-control">
      <span class="form-file-wrapper" data-button-label="{{lang 'product.upload'}}">
        <input
          class="form-input form-file"
          id="product-fields-{{id}}"
          name="ProductFields[{{this.id}}]"
          type="file"
          {{#if required}}required{{/if}}
          aria-required="{{required}}">
      </span>
    </span>
    <span class="form-file-types">{{lang 'forms.validation.accepted_file_types' file_types=file_types}}</span>
  </label>
</div>
