<div class="pre-footer-section">
  <div class="container">
    <div class="section-title"><h2>Why Choose MKM Pool Spa</h2></div>
    <div class="logo-text-section">
      <div class="logo-section">
        <img src="{{cdn '../img/MKM-logo.png'}}" alt="mkm pool spa image logo" width="200" height="200">
      </div>
      <div class="image-section">
        <p>MKM Pool Spa is a North Carolina-based pool and spa supply company with over 50 years of knowledge experience in the swimming pool and spa industry. At MKM Pool Spa, we’re proud to provide services for home pool and spa owners everywhere, with a variety of products, chemicals, and equipment to suit all your maintenance and cleaning needs.</p>
        <a href="" class="action-btn" target="_blank">Read More</a>
      </div>
    </div>

  </div>
</div>

<footer class="main-footer">
  <div class="footer-top">
    <div class="container">
      <section class="footer-left">
        <div class="ft-in">
            <p class="ft-logo"><a href="{{urls.home}}">
              <img src="/product_images/uploaded_images/logo-mkm-pool-spa-alt.png" alt="{{settings.store_logo.title}}">
            </a></p>
            <p class="center">	&copy; <script>document.write(new Date().getFullYear())</script> {{lang 'footer.credits.copyright' name=settings.store_name}} <br/> All right reserved.</p>
          <ul class="footer-contact-info" style="display: none">
            <li>
              <span class="svg-icon svg-icon-contact"><i class="fa fa-envelope"></i></span>
              <p><strong class="display-block">{{lang 'footer.about.gcontact_label'}}</strong>
              <a href="mailto:{{lang 'global.gen_email'}}">{{lang 'global.gen_email'}}</a></p>
              <p><strong class="display-block">{{lang 'footer.about.techcontact_label'}}</strong>
              <a href="mailto:{{lang 'global.tech_email'}}">{{lang 'global.tech_email'}}</a></p>
            </li>
            <li class="c-email">
              <span class="svg-icon svg-icon-contact"><i class="fa fa-phone"></i></span>
              <strong class="display-block">{{lang 'global.phone_number.label'}}:</strong>
              <a href="tel:{{lang 'global.phone_number.tel'}}">{{lang 'global.phone_number.val'}}</a>
            </li>
          </ul>
        </div>
      </section>

      <section class="footer-mdl">
        <div class="ft-in">
          {{> components/footer/nav}}
        </div>
      </section>

      <section class="footer-mdl">
        <div class="ft-in">
          <div class="footer-navigation">
            <div class="footer-item-wrap nav-popular-brands">
              <!-- {{lang 'footer.headings.popular_brands'}} -->
              <h3 class="footer-section-title collapse-item-title">Products</h3>
              <div class="collapse-item-content">   
                <ul>
                  {{#each categories}}
                    <li><a href="{{url}}">{{name}}</a></li>
                  {{/each}}
                </ul>
              </div>
            </div>
            </div>
          </div>
        </section>

        <section class="footer-mdl">
          <div class="ft-in">
            <div class="footer-navigation">
              <div class="footer-item-wrap nav-popular-brands">
                <h3 class="footer-section-title collapse-item-title">{{lang 'footer.headings.qlinks'}}</h3>
                <div class="collapse-item-content">   
                  <ul class="footer-navigation-list">
                    <li><a href="/about-us/">About Us</a></li>
                    <li><a href="/contact-us/">Contact</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/customer-service/">Customer Service</a></li>
                    <li><a href="/frequently-asked-questions/">Frequently Asked Questions</a></li>
                    <li><a href="/privacy/">Privacy</a></li>
                    {{#if theme_settings.sitemap}}
                      <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.heading'}}</a>
                      </li>
                    {{/if}}
                  </ul>
                </div>
              </div>
              </div>
          </div>
        </section>

      <section class="footer-right">

          {{#if settings.show_newsletter_box}}
            <div class="footer-item-wrap footer-newsletter" id="newsletter-list" style="display: none;">
              <h3 class="footer-section-title">{{lang 'newsletter.heading'}}</h3>
              <form class="footer-newsletter-form form" action="{{urls.subscribe.action}}" method="post">
                <input type="hidden" name="action" value="subscribe">
                <input type="hidden" name="nl_first_name" value="bc">
                <input type="hidden" name="check" value="1">
                <label class="form-label show-for-sr" for="nl_email">{{lang 'newsletter.email'}}</label>
                <input class="newsletter-signup-email form-input" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email'}}">
                <div class="newsletter-signup-submit">
                  <input class="submit button" type="submit" value="{{lang 'newsletter.subscribe'}}">
                </div>
              </form>
            </div>
          {{/if}}




        <div class="ft-in">
        {{#if page_type '===' 'default'}}
            {{#if social_media.length}}
            <div class="footer-item-wrap footer-social" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="logo" content="{{urls.home}}product_images/uploaded_images/mkmpoolspa-logo.png">
                <link itemprop="url" href="{{urls.home}}">
                <h3 class="footer-section-title">{{lang 'footer.headings.social_media'}}</h3>
                <ul class="footer-social-icons">
                {{#each social_media}}
                  <li>
                    {{#compare display_name 'google+' operator='==='}}
                      <a itemprop="sameAs" href="{{url}}" class="google" target="_blank">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    {{else}}
                      <a itemprop="sameAs" href="{{url}}" class="{{display_name}}" target="_blank">
                        <i class="fa fa-{{display_name}}"></i>
                      </a>
                    {{/compare}}
                  </li>
                {{/each}}
                </ul>
            </div>
            {{/if}}
        {{else}}
            {{#if social_media.length}}
            <div class="footer-item-wrap footer-social">
                <h3 class="footer-section-title">{{lang 'footer.headings.social_media'}}</h3>
                <ul class="footer-social-icons">
                {{#each social_media}}
                  <li>
                    {{#compare display_name 'google+' operator='==='}}
                      <a href="{{url}}" class="google" target="_blank">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    {{else}}
                      <a href="{{url}}" class="{{display_name}}" target="_blank">
                        <i class="fa fa-{{display_name}}"></i>
                      </a>
                    {{/compare}}
                  </li>
                {{/each}}
                </ul>
            </div>
            {{/if}}
        {{/if}}
        
        </div>
      </section>
    </div>
  </div>
  <div class="container" style="display: none;">
    <div class="footer-btm">
    {{#if theme_settings.theme_copyright}}
      <div class="footer-copyright">
        <p>Copy <script>document.write(new Date().getFullYear())</script> {{lang 'footer.credits.copyright' name=settings.store_name}} | <a href="/site-credits/">Site Credits</a> | All prices are in USD</p>
      </div>
    {{/if}}
      <div class="footer-btm-right">
        <div class="footer-payment-icons">
          <ul class="footer-payment-icons-list">
            {{#if theme_settings.payment_visa}}
              <li><i class="fa fa-cc-visa"></i></li>
            {{/if}}

            {{#if theme_settings.payment_american_express}}
              <li><span class="svg-icon svg-icon-amex"><svg class="svg-pm-icon"><use xlink:href="#icon-amex"></use></svg></span></li>
            {{/if}}

            {{#if theme_settings.payment_mastercard}}
              <li><span class="svg-icon svg-icon-mcard"><svg class="svg-pm-icon"><use xlink:href="#icon-mcard"></use></svg></span></li>
            {{/if}}

            {{#if theme_settings.payment_discover}}
              <li><i class="fa fa-cc-discover"></i></li>
            {{/if}}

            {{#if theme_settings.payment_paypal}}
              <li><i class="fa fa-cc-paypal"></i></li>
            {{/if}}

            {{#if theme_settings.payment_apple_pay}}
              <li><span class="svg-icon svg-icon-applepay"><svg class="svg-pm-icon"><use xlink:href="#icon-applepay"></use></svg></span></li>
            {{/if}}
          </ul>
        </div>
        <div class="footer-logo">
          <script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=www.mkmpoolspa.com&amp;size=S&amp;lang=en"></script><a href="http://www.geotrust.com/ssl/" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<a href="#top-of-doc" class="back-to-top"><span class="svg-icon"><svg class="svg-nav-icon"><use xlink:href="#icon-arrow-left"></use></svg></span></a>
