{{!-- form validation --}}
{{inject 'required' (lang 'common.required')}}
{{inject 'validationRequired' (lang 'forms.validation.required')}}
{{inject 'validationEmail' (lang 'forms.validation.email')}}
{{inject 'validationPhone' (lang 'forms.validation.phone')}}
{{inject 'validationRating' (lang 'forms.validation.rating')}}
{{inject 'validationChooseTheme' (lang 'forms.validation.choose_theme')}}
{{inject 'validationNumberRange' (lang 'forms.validation.number_range')}}
{{inject 'validationNumber' (lang 'forms.validation.number')}}
{{inject 'validationNumMax' (lang 'forms.validation.num_max')}}
{{inject 'validationNumMin' (lang 'forms.validation.num_min')}}
{{inject 'validationNumRange' (lang 'forms.validation.num_range')}}
{{inject 'validationMaxLength' (lang 'forms.validation.max_length')}}
{{inject 'validationMinLength' (lang 'forms.validation.min_length')}}
{{inject 'validationMaxChecked' (lang 'forms.validation.max_checked')}}
{{inject 'validationMinChecked' (lang 'forms.validation.min_checked')}}
{{inject 'validationMaxSelected' (lang 'forms.validation.max_selected')}}
{{inject 'validationMinSelected' (lang 'forms.validation.min_selected')}}
{{inject 'validationNotEqual' (lang 'forms.validation.not_equal')}}
{{inject 'validationDifferent' (lang 'forms.validation.different')}}

{{!-- shipping estimator validation --}}
{{inject 'validationCountry' (lang 'forms.validation.country')}}
{{inject 'validationState' (lang 'forms.validation.state')}}
{{inject 'validationStateProvince' (lang 'cart.shipping_estimator.select_a_state')}}

{{!-- product --}}
{{inject 'addSuccess' (lang 'product.success')}}
{{inject 'priceYouSave' (lang 'product.you_save')}}
{{inject 'includingTax' (lang 'product.including_tax')}}
{{inject 'excludingTax' (lang 'product.excluding_tax')}}
{{inject 'chooseFile' (lang 'product.choose_file')}}
{{inject 'addToCart' (lang 'product.add_to_cart')}}
{{inject 'cartLink' (lang 'product.cart_link')}}
{{inject 'checkoutLink' (lang 'product.checkout_link')}}
{{inject 'homeLink' (lang 'product.home_link')}}
{{inject 'preOrder' (lang 'product.pre_order')}}
{{inject 'soldOut' (lang 'product.sold_out')}}
{{inject 'urlsCart' urls.cart}}
{{inject 'urlsCheckout' urls.checkout.single_address}}

{{!-- theme image sizes --}}
{{inject 'themeImageSizes' theme_settings._images}}
