<!doctype html>
<!--[if IE 8]><html class="no-js ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">

  {{{head.meta_tags}}}

  <title>{{head.title}}</title>

  {{{head.config}}}

  <link href="{{head.favicon}}" rel="shortcut icon">

  <style type="text/css">
    @font-face {
      font-family: "form-icons";
      src: url({{cdn "assets/fonts/form-icons.eot"}});
      src: url({{cdn "assets/fonts/form-icons.woff"}}) format("woff");
      font-weight: normal;
      font-style: normal;
    }
  </style>

  {{{stylesheet '/assets/css/theme.css'}}}

  {{getFontsCollection}}

  {{{head.scripts}}}
  {{{head.rsslinks}}}

  {{> components/common/theme-object}}
  {{> components/global-injects}}
  {{{snippet 'html_head'}}}
</head>
<body>
  {{#block "page"}}{{/block}}
</body>
</html>
