<section class="section layout-block featured-products {{#if quickshop}}quickshop-enabled{{/if}}" data-quickshop>
  <div class="container">
    <h2 class="section-title"><span class="title-in">{{lang 'home.featured_products'}}</span></h2>
    <div class="product-grid-container">
      <div class="product-grid-list">
        <div class="product-grid-list-items {{rowcount}}">
          {{#each products}}
            {{> components/products/product-item crop=../crop}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
