<div class="single-product-meta-wrap">
  {{#if product.stock_level}}
    <div class="single-product-meta-item single-product-meta-item-stock">
      <span class="single-product-meta-item-label">{{lang 'products.current_stock'}}:</span>
      <span class="single-product-meta-item-value">{{product.stock_level}}</span>
    </div>
  {{/if}}
  {{#if product.upc}}
    <div class="single-product-meta-item single-product-meta-item-upc">
      <span class="single-product-meta-item-label">{{lang 'product.upc'}}:</span>
      <span class="single-product-meta-item-value" data-product-upc>{{product.upc}}</span>
    </div>
  {{/if}}
  {{#if product.release_date}}
    <div class="single-product-meta-item single-product-meta-item-release-date">
      <span class="single-product-meta-item-label">{{lang 'product.release_date'}}:</span>
      <span class="single-product-meta-item-value">{{product.release_date}}</span>
    </div>
  {{/if}}

  {{#if product.condition}}
    <div class="single-product-meta-item single-product-meta-item-condition">
      <span class="single-product-meta-item-label">{{lang 'product.condition'}}:</span>
      <span class="single-product-meta-item-value">{{product.condition}}</span>
    </div>
  {{/if}}
  {{#if product.availability}}
    <div class="single-product-meta-item single-product-meta-item-availability">
      <span class="single-product-meta-item-label">{{lang 'product.availability'}}:</span>
      <span class="single-product-meta-item-value">{{product.availability}}</span>
    </div>
  {{/if}}
  {{#if product.warranty}}
    <div class="single-product-meta-item single-product-meta-item-warranty">
      <span class="single-product-meta-item-label">{{lang 'product.warranty'}}:</span>
      <span class="single-product-meta-item-value">{{nl2br product.warranty}}</span>
    </div>
  {{/if}}
  {{#if product.shipping}}
    {{#if product.shipping.calculated}}
      <div class="single-product-meta-item single-product-meta-item-shipping">
        <span class="single-product-meta-item-label">{{lang 'product.shipping'}}:</span>
        <span class="single-product-meta-item-value">{{lang 'product.shipping_calculated'}}</span>
      </div>
    {{else}}
      {{#compare product.shipping.price 0 operator='==='}}
        <div class="single-product-meta-item single-product-meta-item-shipping">
          <span class="single-product-meta-item-label">{{lang 'product.shipping'}}:</span>
          <span class="single-product-meta-item-value">{{lang 'product.shipping_free'}}</span>
        </div>
      {{else}}
        <div class="single-product-meta-item single-product-meta-item-shipping">
          <span class="single-product-meta-item-label">{{lang 'product.shipping'}}:</span>
          <span class="single-product-meta-item-value">{{lang 'product.shipping_fixed' amount=product.shipping.price.formatted}}</span>
        </div>
      {{/compare}}
    {{/if}}
  {{/if}}
  {{#if product.bulk_discount_rates.length}}
    <div class="single-product-meta-item single-product-meta-item-bulk-discounts single-product-bulk-discounts">
      <span class="single-product-meta-item-label">{{lang 'product.bulk_pricing.title'}}</span>
      <span class="single-product-meta-item-value">
        <a href="#" class="product-bulk-pricing-toggle">{{lang 'product.bulk_pricing.see_pricing'}}</a>
      </span>
    </div>
  {{/if}}

  {{#if product.detail_messages}}
    <div class="single-product-meta-item single-product-meta-item-detail-messages">
      <span class="single-product-meta-item-label">{{lang 'product.message'}}</span>
      <span class="single-product-meta-item-value">
        {{product.detail_messages}}
      </span>
    </div>
  {{/if}}
</div>
