  {{#unless quickshop}}
    <div class="single-product-tabs">
      <div class="tabs-nav">
        <ul class="tabs-navigation" data-tabs>
          {{#if product.description}}
            <li class="tab-title"><a href="#product-details">{{lang 'products.tabs.description'}}</a></li>
          {{/if}}

          {{#if settings.show_product_reviews}}
            <li class="tab-title"><a href="#product-reviews">{{lang 'products.tabs.reviews'}}</a></li>
          {{/if}}

          {{#if product.videos.list.length}}
            <li class="tab-title"><a href="#product-videos">{{lang 'products.tabs.videos'}}</a></li>
          {{/if}}
        </ul>
      </div>

      <div class="tabs-content">
        {{#if product.description}}
          <div class="tabs-content-panel" id="product-details">
            <h3 class="product-tab-title show-product-tab-title">{{lang 'products.tabs.description'}} <span class="svg-icon"><svg class="svg-nav-icon"><use xlink:href="#icon-collapse"></use></svg></span></h3>
            <div class="product-description rte product-tab-content show-product-tab-content">
              {{{product.description}}}

              {{{snippet 'product_description'}}}
            </div>
                {{#if product.custom_fields.length}}
                <div class="prod-spec" id="prod-spec">
                    <h4>{{lang 'products.tabs.specifications'}}</h4>
                    <table class="tbl tbl-spec">
                      {{#each product.custom_fields}}
                        <tr class="product-details-block product-info-{{name}}">
                          <td class="product-details-name">{{name}}:</td>
                          <td class="product-details-value">{{value}}</td>
                        </tr>
                      {{/each}}
                    </table>
                </div>
                {{/if}}
          </div>
        {{/if}}

        {{#if settings.show_product_reviews}}
          <div class="tabs-content-panel" id="product-reviews">
            <h3 class="product-tab-title">{{lang 'products.tabs.reviews'}} <span class="svg-icon"><svg class="svg-nav-icon"><use xlink:href="#icon-collapse"></use></svg></span></h3>
            <div class="product-tab-content">
              {{#if product.reviews.list.length}}
                <div class="reviews-header">
                  <div class="reviews-header-summary">
                    {{#if settings.show_product_rating}}
                      {{> components/products/ratings rating=product.rating size="large"}}
                    {{/if}}
                    <div class="reviews-rating-summary">
                      {{{lang 'product.reviews.total_based_on' score=product.rating numReviews=product.num_reviews}}}
                      <a href="#modal-review-form" class="review-link">{{ lang 'product.reviews.leave_review' }}.</a>
                    </div>
                  </div>
                </div>
                {{#each product.reviews.list}}
                  {{> components/products/review-item show_rating=../settings.show_product_rating theme_settings=../theme_settings}}
                {{/each}}

                {{> components/common/pagination pagination.reviews is_review=../settings.show_product_rating theme_settings=../theme_settings}}
                
                <a href="#modal-review-form" class="button button-alt review-link">{{ lang 'product.reviews.leave_review' }}</a>

                {{{snippet 'reviews'}}}
              {{else}}
                <p>{{lang 'product.reviews.no_reviews'}}</p>
                <a href="#modal-review-form" class="button button-alt review-link">{{ lang 'product.reviews.leave_review' }}</a>
              {{/if}}
            </div>
          </div>
        {{/if}}

        {{#if product.videos.list.length}}
          <div class="tabs-content-panel" id="product-videos">
              <h3 class="product-tab-title">{{lang 'products.tabs.videos'}} <span class="svg-icon"><svg class="svg-nav-icon"><use xlink:href="#icon-collapse"></use></svg></span></h3>
            {{#each product.videos.list}}
              <div class="product-video-container product-tab-content">
                <iframe src="https://www.youtube.com/embed/{{id}}?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
              </div>
            {{/each}}
          </div>
        {{/if}}
      </div>
    </div>
  {{/unless}}
